.gradle
**/build/**
!**/src/main/**
!**/src/test/**
/gradle/*
!/gradle/wrapper
**/logs/**

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr
/out
/target

hs_err_pid*